/*
Colors used:

Text Color (Blue): #4054b2;
Background Color (White): #ffffff;
Primary Color (Yellow): #ffff00;
 */
    
 :root {
    --primary-yellow: #ffff00;
    --text-blue: #4054b2;
    --background-white: #ffffff;
    --font-16: 16px;
    --font-24: 24px;
    --font-30: 30px;
    --weight-700: 700;
}

body {
    background-color: var(--background-white);
    color: var(--text-blue);
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: var(--font-16);
    line-height: 1.6;
    text-align: center;
    padding: 10px;
}